:host {
  width: calc(100vw - 35px);
  position: absolute;
}

.add-curriculum {
  width: 55vw;
  margin: 0 auto;
  min-width: 500px;

  .upload-button {
    cursor: pointer;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;

    img {
      width: 50px;
      border-radius: 100%;
      margin-bottom: 10px;
    }
    a {
      text-decoration: underline;
      color: var(--primary-color);
    }
  }
  .mat-form-field {
    width: 48%;
    margin-right: 1%;
  }
  .tags-title {
    margin: 5px 0px 10px 0px;
  }
  .tags {
    margin-bottom: 20px;

    .mat-chip {
      border: 1px solid var(--primary-color);
      background: white;
      color: var(--primary-color);
    }
  }
  .btn-container {
    width: 100%;
    margin-top: 15px;
  }
  .save-btn-container {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid lightgray;
    text-align: right;
  }
}
