.add-formation {
  padding: 0px 10px;

  h2 {
    margin: 0px 0px 20px 0px;
  }
  form {
    display: flex;
    flex-direction: column;
  }

  .pickers-container {
    margin-top: 15px;

    .mat-form-field {
      width: 48%;
      margin-right: 1%;
    }
  }

  button {
    margin-right: 10px;
  }
}
